// Variables
@use "./variables" as *;

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');


body {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

p,
a,
label {
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}