// Theme Colors
$primary: #b02e2f;

// Slider
$slider-large-screens-width: 82%;

//Carousels
$carousel-large-screens-width: 75%;
$carousel-margin-left: auto;
$carousel-margin-right: 50px;
$carousel-margin-top: 120px;

$carousel-medium-screens-width: 90%;

// Movie Details
$movieDetails-large-screen-width: 930px;
$movieDetails-medium-screen-width: 930px;