@use "../../variables" as *;

main {

    .poster {
        height: 500px;
        width: 100%;
        object-fit: fill;
    }

    .back-arrow {
        background-color: $primary;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: x-large;
        position: absolute;
        top: 3%;
        left: 2%;
        padding: 15px;
        transition: 200ms;
    }

    .back-arrow:hover {
        background-color: #C13B3B;
    }

    .details-section {
        margin: 20px auto 70px;
        width: $movieDetails-large-screen-width;

        .ratingValue-span {
            background-color: $primary;
            border-radius: 5px;
            color: white;
            padding: 10px;
        }

        .ratingNumber-span {
            color: #595260;
            font-weight: 600;
            margin-left: 10px;
        }
    }

}