@use "../../variables" as *;

main {

    .poster {
        height: 500px;
        width: 100%;
        object-fit: fill;
    }

    .back-arrow {
        background-color: $primary;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: x-large;
        position: absolute;
        top: 3%;
        left: 2%;
        padding: 15px;
        transition: 200ms;
    }

    .back-arrow:hover {
        background-color: #C13B3B;
    }

    .details-section {
        margin: 20px auto 70px;
        width: $movieDetails-large-screen-width;

        p {
            font-weight: 600;
        }

        p span {
            color: $primary;
            margin-left: 15px;
        }

        .ratingValue-span {
            background-color: $primary;
            border-radius: 5px;
            color: white;
            padding: 10px;
        }

        .ratingNumber-span {
            color: #595260;
            font-weight: 600;
            margin-left: 10px;
        }

        h1.title {
            font-size: 2.3rem;
        }

        span.genre {
            border: 2px solid $primary;
            border-radius: 25px;
            color: $primary;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 8px;

        }

        .plot {
            margin-top: 50px;
        }
    }

}

h1.unmatching-movies {
    margin-left: 5%;
    margin-top: 3%;
}


@media (max-width: 991px) {

}