@use "../variables" as *;

.children-movies-section {
    width: $carousel-large-screens-width;
    margin-left: $carousel-margin-left;
    margin-right: $carousel-margin-right;
    margin-top: $carousel-margin-top;
    cursor: pointer;

    .card-section {
        display: inline-block;
        width: 23%;
        margin-right: 2%;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .title-div {
            display: flex;
        }
    }

    .button-div {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

    button {
        background-color: $primary;
        border: none;
        border-radius: 25px;
        color: white;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 15px auto;
        padding: 15px 55px;
        transition: 200ms;
    }
}

    button:hover {
        background-color: #C13B3B;
    }
}