@use "../variables" as *;

header {
    position: relative;
    width: 82%;
    margin-left: auto;

    .slider-img {
        width: 100%;
        height: 500px;
        object-fit: fill;
        filter: brightness(45%)
    }

    .logo-div {
        align-items: center;
        position: absolute;
        top: 0;
        left: 5%;
        margin-top: 2%;

        .logo-title {
            color: white;
            font-size: 2.5rem;
            margin-top: 0;
        }

        .logo-img {
            width: 90px;
            height: 70px;
        }
    }

    .description-div {
        color: white;
        position: absolute;
        top: 60%;
        left: 5%;
    }
}