@use "../variables" as *;

.maxEarnings-movies-section {
    width: $carousel-large-screens-width;
    margin: $carousel-margin-top $carousel-margin-right 0 $carousel-margin-left;
}


@media (max-width: 991px) {
    .maxEarnings-movies-section {
        width: $carousel-medium-screens-width;
        margin: 80px auto 0;
    }
}