@use "../variables" as *;

.maxEarnings-movies-section {
    width: $carousel-large-screens-width;
    margin-left: $carousel-margin-left;
    margin-right: $carousel-margin-right;
    margin-top: $carousel-margin-top;
}