@use "../variables" as *;

.newest-movies-section {
    width: $carousel-large-screens-width;
    margin: 20px $carousel-margin-right 0 $carousel-margin-left;
}


@media (max-width: 991px) {
    .newest-movies-section {
        width: $carousel-medium-screens-width;
        margin: 80px auto 0;
    }
}