@use "../variables" as *;

aside {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    min-height: 100vh;
    z-index: 2;

    .logo-div {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .logo {
            height: 100px;
            object-fit: contain;
        }
    }

    a {
        display: block;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        margin-top: 32%;
        text-align: center;
        transition: 300ms;
    }

    a:hover {
        color: #DDE6ED;
        transform: translate(3px, -3px);
    }
}


@media (max-width: 991px) {
    aside {
        position: initial;
        width: initial;
        min-height: initial;
        margin-top: 50px;
        padding-top: 15px;

        .logo-div {
            display: none;
        }


        a {
            margin-top: 0;
            padding-bottom: 15px;
        }
    }
}