// Variables
@use "../variables" as *;

aside {
    background-color: $primary;
    position: fixed;
    top: 0;
    min-height: 100vh;
    z-index: 2;
    width: 20%;

    a {
        display: block;
        margin-top: 40%;
        text-align: center;
    }
}

// image slider
header {

    .image-div {
        display: flex;
        justify-content: end;

        img {
            display: inline-block;
            width: 80%;
            height: 500px;
        }
    }

    .title {
        position: absolute;
        top: 0;
        left: 25%;
    }

    .description-div {
        position: absolute;
        top: 300px;
        left: 25%;
    }
}

// search
.search-section {
    position: absolute;
    top: 21px;
    left: 40%;

    .search-div {
        display: inline-block;

        label {
            display: block;
        }
    }

    button {
        display: block;
    }
}

// newest movies
.newest-movies-section {
    width: 80%;
    margin-left: auto;
}






@media (max-width: 900px) {
    aside {
        background-color: red;
        position: initial;
        min-height: initial;
        width: initial;

        p {
            margin-top: initial;
        }
    }

    header {

        div {
            display: initial;

            img {
                display: initial;
                width: initial;
                height: 500px;
            }
        }
    }

}